GOOGLE_API_KEY=xd
MONGODB_URI=mongodb://localhost:27017/whatsapp_bot
OWNER_JID=593994447268@s.whatsapp.net

# Modo Descanso (Sleep Mode) configuration (Default: 23 [11 PM] to 6 [6 AM])
SLEEP_START_HOUR=23
SLEEP_END_HOUR=6